@import '~bootstrap/scss/bootstrap';

@import './partials/header';

@import './partials/footer';

img {
    max-width: 100%;
}

.card {
    width: 50%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}
